<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="dk.solsort.timetracker" version="0.0.1">
<name short="">Time tracker</name>

<description>App for keeping track of time usage</description>

<author href="http://www.rasmuserik.com/">Rasmus Erik Voel Jensen</author>
<icon src="icon.png" gap:role="default" />
<gap:splach src="splash.png" gap:role="default" />

<gap:platforms>
<gap:platform name="android" minVersion="2.1" />
<gap:platform name="webos" />
<gap:platform name="symbian.wrt" />
<gap:platform name="blackberry" project="widgets"/>
</gap:platforms>


<!-- feature name="http://api.phonegap.com/1.0/network" required="false"/ -->

<preference name="autorotate" value="true" readonly="false"/>
</widget>
